@{
    string OldPassword = string.Empty;
    string NewPassword = string.Empty;
    Layout = null;
}
<link href="@Url.Content("~/css/Account/ChangePassword/light.css")" rel="stylesheet" type="text/css" />

<form asp-controller="Account" asp-action="ChangePassword" method="post" class="change-password-form">
    <div asp-validation-summary="ModelOnly" class="validation-summary"></div>
    <div class="form-group">
        <label class="passwordChange-label" for="OldPassword">Old Password</label>
        <input asp-for="@OldPassword" class="form-control" id="OldPassword" />
        <span asp-validation-for="@OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="passwordChange-label" for="NewPassword">New Password</label>
        <input asp-for="@NewPassword" class="form-control" id="NewPassword" />
        <span asp-validation-for="@NewPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default changeBtn-pushable">
        <span class="changeBtn-shadow"></span>
        <span class="changeBtn-edge"></span>
        <span class="changeBtn-front text">
            Change Password
        </span>
    </button>

</form>
