@{
    ViewData["Title"] = "Create";
}
@{
    string? Name = string.Empty;
    string? Description = string.Empty;
    bool IsVegetarian = false;
    int? Calories = null;
    string? ImageURL = "image";
    decimal? Price = null;
    string? Category = string.Empty;

}
<style>
    body {
        background-color: #f2f2f2;
        color: #333;
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        padding: 20px;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 95vh;
    }

    form {
        max-width: 700px;
        margin: 0 auto;
        padding: 20px;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    form div {
        margin-bottom: 10px;
    }

    label {
        display: block;
        font-weight: bold;
    }

    input[type="text"],
    input[type="number"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .form-check input[type="checkbox"] {
        margin-right: 5px;
    }

    button {
        background-color: #080708;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: #080708;
        font-weight: bold;
    }

    /* Стили для кнопок */
    .returnBtn {
        text-align: center;
    }

    .returnBtn a {
        background-color: #080708;
        color: white;
        padding: 10px 20px;
        border-radius: 3px;
        transition: background-color 0.3s;
        display: inline-block;
    }

    .returnBtn a:hover {
        background-color: rgb(26, 18, 86);
    }

    .resetBtn {
        background-color: rgb(165, 0, 0);
    }

    .file-input {
        display: none;
        /* Скрыть поле выбора файла */
    }

    .file-label {
        background-color: #080708;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        cursor: pointer;
        display: inline-block;
    }

    footer {
        background-color: #080708;
        color: white;
        text-align: center;
        padding: 1em;
    }
</style>

<h1>@ViewData["Title"]</h1>
<form method="post" enctype="multipart/form-data" action="/Menu" class="main">
    <div class="form-group">
        <label asp-for=@Name>Name:</label>
        <input asp-for=@Name class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Description">Description:</label>
        <input asp-for="@Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Category">Category:</label>
        <input asp-for="@Category" class="form-control" />
    </div>
    <div class="form-check">
        <input asp-for="@IsVegetarian" class="form-check-input" />
        <label class="form-check-label" asp-for="@IsVegetarian">Is Vegetarian</label>
    </div>
    <div class="form-group">
        <label asp-for="@Calories">Calories:</label>
        <input asp-for="@Calories" class="form-control" />
    </div>
    <div>
        <label for="@ImageURL">Image:</label>
        <!-- Поле выбора файла -->
        <input type="file" id="@ImageURL" name="image" class="file-input" accept="image/*" />
        <label for="@ImageURL" class="file-label">Choose Image</label>
    </div>
    <div class="form-group">
        <label asp-for="@Price">Price:</label>
        <input asp-for="@Price" class="form-control" step="0.01" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
        <button type="reset" class="resetBtn">Reset</button>
    </div>
    <div class="returnBtn">
        <a asp-action="GetAll">Return to menu</a>
    </div>
</form>
