@{
    ViewData["Title"] = "Details";
    Layout = null;
}
@model MenuItem
<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"]</title>
    <link href="@Url.Content("~/css/Menu/GetDetails/light.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="details-container">
        <img src="@Url.Content(@Model.ImageURL)" alt="@Model.Name" />
        <h2>@Model.Name</h2>
        <p>@Model.Description</p>
        <p>Price: $@Model.Price</p>
        <p>Category: @Model.Category</p>
        <p><strong>Is Vegetarian:</strong> @(Model.IsVegetarian ? "Yes" : "No")</p>
        @if (User?.Identity?.IsAuthenticated == true) {
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" value="1" min="1" class="price-tag" />
        <button class="button-56" onclick="addToCart(@Model.Id,'@Model.Name',@Model.Price)">Add to Cart</button>
        }
        <div id="addedMessage" style="color: green;"></div>
    </div>

</body>

</html>
