@model RestaurauntApp.DTOS.DiscountCodeDTO
@{
    ViewData["Title"] = "Add";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link href="@Url.Content("~/css/Discount/Add/light.css")" rel="stylesheet" type="text/css" />
<h1>@ViewData["Title"]</h1>

<form asp-controller="Discount" asp-action="Add" method="post" class="main">
    <div class="form-group">
        <label asp-for="@Model.Code">Code:</label>
        <input type="text" class="form-control" asp-for="@Model.Code" required>
        <label asp-for="@Model.Value">Discount Percent:</label>
        <input type="number" class="form-control" asp-for="@Model.Value" required>
        <label asp-for="@Model.ValidFrom">Valid From:</label>
        <input type="date" id="validFrom" class="form-control" asp-for="@Model.ValidFrom" required>
        <label asp-for="@Model.ValidTo" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")">Valid To:</label>
        <input type="date" id="validTo" class="form-control" asp-for="@Model.ValidTo" required>
    </div>
    <button type="submit" class="btn-discount" onclick="return validateDates()">Add Discount Code</button>
</form>
<script>
    function validateDates() {
        var validFrom = document.getElementById('validFrom').value;
        var validTo = document.getElementById('validTo').value;

        var currentDate = new Date().toISOString().split('T')[0]; // текущая дата

        if (validFrom < currentDate || validTo < currentDate) {
            showSweetAlert('error', 'Oops...', 'Dates cannot be in the past.');
            return false; // останавливаем отправку формы
        }

        if (validTo < validFrom) {
            showSweetAlert('error', 'Oops...', 'Valid To date must be after Valid From date.');
            return false; // останавливаем отправку формы
        }

        return true; // если проверки пройдены, разрешаем отправку формы
    }

    function showSweetAlert(icon, title, text) {
        var swalConfig = {
            icon: icon,
            title: title,
            text: text
        };

        // Проверяем тему сайта и применяем соответствующие стили SweetAlert2
        var theme = getTheme();
        if (theme === 'dark') {
            swalConfig = Object.assign(swalConfig, {
                customClass: {
                    popup: 'dark-popup',
                    title: 'dark-title',
                    content: 'dark-content'
                }
            });
        }

        Swal.fire(swalConfig);
    }

    function getTheme() {
        return document.cookie.replace(/(?:(?:^|.*;\s*)theme\s*=\s*([^;]*).*$)|^.*$/, "$1");
    }
</script>
