@model List<RestaurauntApp.Models.Order>
@using System.ComponentModel.DataAnnotations
@using RestaurauntApp.Models.Other

@{
    ViewData["Title"] = "Orders";
}
<link href="@Url.Content("~/css/Order/GetOrders/light.css")" rel="stylesheet" type="text/css" />
@if (Model == null || !Model.Any())

{
    <p style="font-size: larger; text-align:center;margin-top:20px">You don't have orders yet!</p>
}

else

{
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Created At</th>
                <th>Order Date</th>
                <th>Order State</th>
                <th>Total Price</th>
                <th>Order Items</th>
                <th>Change Order State</th>
                <th>Checkout</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr class="order-row">
                    <td>@order.UserName</td>
                    <td>@order.CreatedAt</td>
                    <td>@order.OrderDate</td>
                    <td>@order.OrderState.GetDisplayName()</td>
                    <td>@order.TotalPrice</td>
                    <td>
                        <ul class="order-items">
                            @foreach (var item in order.OrderItems)
                            {
                                <li class="order-item">@item.Name - Quantity: @item.Quantity - Price: @item.Price</li>
                            }
                        </ul>
                    </td>
                    <td>
                        @if (order.OrderState != RestaurauntApp.Services.Classes.EnumOrderStateHelper.GetLastStatus())

                        {
                            <button class="button-28" onclick="updateOrderStatus(@order.Id, 'cancel')">Cancel order</button>
                        }

                        else

                        {
                            <p>Order status cannot be changed.</p>
                        }
                        @if (User.IsInRole("Admin"))

                        {
                            @if (order.OrderState != RestaurauntApp.Services.Classes.EnumOrderStateHelper.GetLastStatus())

                            {
                                <button class="button-28" onclick="updateOrderStatus(@order.Id, 'next')">Next State</button>
                            }
                        }
                    </td>
                    <td>
                        <button class="button-28" onclick="openCheckoutDetails(@order.Id)">View Checkout information</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div id="checkoutDetailsModal" class="modal">
        <div class="modal-content">
            <!-- Сюда будет вставлен контент деталей чекаута -->
        </div>
    </div>
}

<script>
    function updateOrderStatus(orderId, action) {
        fetch('/Order/UpdateOrderStatus?orderId=' + orderId + '&action=' + action, {
            method: 'POST'
        })
            .then(response => {
                if (response.ok) {
                    // Обновить страницу или выполнить другие действия
                    location.reload();
                } else {
                    throw new Error('Ошибка при обновлении статуса заказа.');
                }
            })
            .catch(error => {
                console.error('Ошибка при обновлении статуса заказа: ' + error);
            });
    }

    function openCheckoutDetails(orderId) {
        console.log(orderId);
        fetch('/Order/GetCheckoutDetails?orderid=' + orderId, {
            method: 'GET'
        })
            .then(response => {
                if (response.ok) {
                    console.log(response);
                    return response.text();
                } else {
                    throw new Error('Ошибка загрузки данных.');
                }
            })
            .then(data => {
                const modalContent = document.querySelector('#checkoutDetailsModal .modal-content');
                modalContent.innerHTML = data;
                modalContent.innerHTML += '<button type="button" class="modal-close" onclick="closeModal()">&times;</button>';
                const modal = document.getElementById('checkoutDetailsModal');
                modal.style.display = 'block';
            })
            .catch(error => {
                console.error('Ошибка загрузки данных: ' + error);
            });
    }

    function closeModal() {
        const modal = document.getElementById('checkoutDetailsModal');
        modal.style.display = 'none';
    }

</script>
